<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Lab06</title>
  <link
    rel="stylesheet"    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>


<body>



  <div id="app">
    <br>
      Number of Stops: <input v-model="numStops" type="number">
      <br>
      <br>
    <ul>
      <li v-for="stop in filteredStops">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ stop.name }}</h5>
                <p class="card-text">{{ stop.description }}<br></p>
                <p class="card-text">Distance: {{ stop.distance }} kilometers<br></p>
              </div>
            </div>

      </li>
    </ul>
  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>




function getLocation()
{
  if ("geolocation" in navigator) {
          navigator.geolocation.watchPosition(function(position) {
           app.latitude = position.coords.latitude
           app.longitude = position.coords.longitude
          });
  }

  //calculate distances
  for (let stop in app.stops)
  {
    app.stops[stop].distance = Math.ceil(getDistance(app.latitude, app.longitude, stop.lat, stop.lon, "K") * 100) /100;
  }
}

function getDistance(lat1, lon1, lat2, lon2, unit) {
       // console.log("lat1: " + lat1)
        //console.log("lat2: " + lat2)
          if ((lat1 == lat2) && (lon1 == lon2))
          {
            return 0;
          }
          else {
            let radlat1 = 3.14 * lat1/180;
            let radlat2 = 3.14 * lat2/180;
            let theta = lon1-lon2;
            let radtheta = 3.14 * theta/180;
            let dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            if (dist > 1) {
              dist = 1;
            }
            dist = Math.acos(dist);
            dist = dist * 180/3.14;
            dist = dist * 60 * 1.1515;
            if (unit=="K") { dist = dist * 1.609344 }
            if (unit=="N") { dist = dist * 0.8684 }
            console.log("dist: " + dist)
            return dist;
          }
}



  const app = new Vue({
    el: '#app',
    data: {
      stops: [],
      numStops: 10,
      latitude: 99999,
      longitude: 99998
    },
    created: function(){
        fetch('https://utils.pauliankline.com/stops.json')
          .then(function(response) {
            return response.json();
          })
          .then(function(myJson) {
           //console.log(JSON.stringify(myJson));
          for (let stop in myJson){
            app.stops.push(myJson[stop])
           // console.log("PUshing lat of: " + myJson[stop].lat)
          }
          })
         .then(function(){
          if ("geolocation" in navigator) {
          navigator.geolocation.watchPosition(function(position) {
            app.latitude = position.coords.latitude
            app.longitude = position.coords.longitude

            if (app.latitude < 90000)
            {
            for (let stop in app.stops)
          {
            stop.distance = Math.ceil(getDistance(app.latitude, app.longitude, app.stops[stop].lat, app.stops[stop].lon, "K") * 100) /100;
            //console.log(stop.distance)
          }
            }
          });        
}

            navigator.geolocation.watchPosition(function(position) {
            app.latitude = position.coords.latitude;
            app.longitude = position.coords.longitude;
            for (let stop in app.stops) {
            //   console.log("app lat: " + app.latitude)
            //  console.log("stop lat: " + stop.lat)
              app.stops[stop].distance = Math.ceil(getDistance(app.latitude, app.longitude, app.stops[stop].lat, app.stops[stop].lon, "K") * 100) /100;
            }
            });
         });      


    },
    computed: {
    filteredStops() {
        this.stops.sort(function(x,y){
          return x.distance - y.distance
        });
        return this.stops.slice(0, this.numStops);
      }
    },
    //mounted: getStops()
  })

  </script>
</body>
</html>
