<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Lab06</title>
  <link
    rel="stylesheet"    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous"
  />
</head>


<body>

    

  <div id="app">
      <input v-model="numStops" type="number">
      <br>
    <ul>
      <li v-for="stop in filteredStops">
          <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ stop.name }}</h5>
                <p class="card-text">{{ stop.description }}<br></p>
                <p class="card-text">{{ stop.distance }}<br></p>
              </div>
            </div>
        
      </li>
    </ul>
  </div>





  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>

  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>



function getStops()
{
  fetch('https://utils.pauliankline.com/stops.json')
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    console.log(JSON.stringify(myJson));
    app.stops = myJson
  });

}

function watchLocationLat()
        {
          if ("geolocation" in navigator) {
            return navigator.geolocation.watchPosition(function(position) {
                return (position.coords.latitude);
              });
           
          } else {
            console.log("Geolocation not available")
          }
        }

        function watchLocationLon()
        {
          if ("geolocation" in navigator) {
            return navigator.geolocation.watchPosition(function(position) {
                return (position.coords.longitude);
              });
           
          } else {
            console.log("Geolocation not available")
          }
        }


getStops();
//getLocation();

function getLocation()
{
  if ("geolocation" in navigator) {
  console.log("Able to find you")
  let watchID = navigator.geolocation.watchPosition(function(position) {
  return (position.coords.latitude);//, position.coords.longitude);
  });
  console.log(watchID)
} else {
  console.log("Not able to find you")
}
}



  const app = new Vue({
    el: '#app',
    data: {
      stops: [],
      numStops: 10,
      latitude: 99999,
      longitude: 99998
    },
    computed: {
    filteredStops() {
      num = this.numStops
      return this.stops.filter(function filter2(stop) 
      {

        //adapted from:
        //https://www.geodatasource.com/developers/javascript
        function distance(lat1, lon1, lat2, lon2, unit) {
          if ((lat1 == lat2) && (lon1 == lon2)) 
          {
            return 0;
          }
          else {
            let radlat1 = Math.PI * lat1/180;
            let radlat2 = Math.PI * lat2/180;
            let theta = lon1-lon2;
            let radtheta = Math.PI * theta/180;
            let dist = Math.sin(radlat1) * Math.sin(radlat2) + Math.cos(radlat1) * Math.cos(radlat2) * Math.cos(radtheta);
            if (dist > 1) {
              dist = 1;
            }
            dist = Math.acos(dist);
            dist = dist * 180/Math.PI;
            dist = dist * 60 * 1.1515;
            if (unit=="K") { dist = dist * 1.609344 }
            if (unit=="N") { dist = dist * 0.8684 }
            return dist;
          }
        }


        console.log("Lat is: " + userLat)
        let dist = distance(stop.latitude, stop.longitude, userLat, userLon)
        console.log("Distance is: " + dist);
        
        return stop.id < num
      })
    } 
      
    },
    mounted: getStops()
  })

  </script>
</body>
</html>

